.content {
  display: flex;
  background-color: darkorange;
}

.sidebar {
  background-color: var(--color-grey-light-1);
  flex: 0 0 18%;
  background-color: darkorange;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
  background-color: darkorange;
}